.chatList__root {
}

.chatList__interlocutor {
    display: grid;
    margin-bottom: 15px;
    grid-template-columns: 0.5fr 2fr 1fr;
}

.chatList__img {

}

.chatList__contentBlock {
    margin-left: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.chatList__name { 
    display: flex;
    font-weight: 600;
    align-items: end;
}

.chatList__message {
    margin-top: 3px;
    display: flex;
    align-items: flex-start;
}

.chatList__time {
    display: flex;
    align-items: end;
    margin-bottom: 5px;
    justify-content: center;
}